/*General settings*/
body {
    background-color: white;
}

.parallax-container {
    min-height: 90.5vh;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

nav {
    color: #fff;
    width: 100%;
    height: 9.5vh;
    line-height: 9.5vh;
}

.nav-wrapper a {
    color: white;
}

input[type=text],textarea.materialize-textarea {
    border-bottom: 1px solid #FFFFFF;
}

.input-field label {
    color: #FFFFFF;
}

input[type=text]:focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 0 #FFFFFF;

}

input[type=text]:focus:not([readonly]) + label,textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #FFFFFF;
}

input[type=text].valid {
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 0 #FFFFFF;
}

/*/General settings*/

/*search*/
#search {
    display: flex;
    align-items: center;
    justify-content: center;
}
#feedback {
    display: flex;
    align-items: center;
    justify-content: center;
}


#result .card{
    margin-top: 15vh;
}

/*/search*/



@media only screen and (max-width: 511px) {
    #search h2 {
        font-size: 9vw;
    }
    #result .card-title h4{
        font-size: 25px;
    }
}

@media only screen and (max-width: 650px) {


}

@media only screen and (min-width: 601px) {
    nav.nav-extended .nav-wrapper {
        min-height: 9.5vh;
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 9.5vh;
        line-height: 9.5vh;
    }

    .navbar-fixed {
        height: 9.5vh;
    }

}